
.div-espaço{
    width: 100%;
    height: 650px;
    background-color:#EFEEEE;
}

.sair img {
    width: 30px;
    height: 30px;
    margin: 5px 30px 10px 200px;
    cursor: pointer;
}

.div-titulo{
    font-family: Unispace;
    font-size: 40px;
    line-height:80px;    
    text-align: center;
}

.div-colunas{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.div-colunas input{
    width: 400px;
    height: 50px;
    border: none;
    background-color:transparent;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid #472DA0;
    outline: 0;
}

.div-logar-botao {
    display: flex;
    justify-content: center;
}

.div-logar-botao button{
    width: 400px;
    height: 50px;
    border: none;
    background-color:#A185FF;
    border-radius: 3px;
    color: #070314;
    font-family: Unispace;
    font-size: 20px;
    margin: 20px;
}

.div-logar-botao button:hover{
    background-color:#80DDD9;
    cursor: pointer;
}


@media screen and (max-width:500px ){
    .div-espaço{
        height: 500px;
    }

    .div-titulo{
        font-size: 30px;
    }

    .div-colunas{
        margin: 15px;
    }

    .div-colunas input{
        width: 250px;
        height: 35px;
    }

    .div-logar-botao button{
        width: 250px;
        height: 35px;
        font-size: 15px;
    }
}